<!-- footer  -->

<footer class="text-muted">
  <div class="container">
    <div class="socials">
    {% for social in site.data.socials %}
    <a href="{{social.url}}" target="_blank">
      <i class="fab fa-{{social.name}} fa-2x"></i>
    </a>
    {% endfor %}
    </div>  
    <p class="float-right text-right">
      <a href="#">Back to top</a>
      <br />
      <span class="small">
        Made with ♥ by <a href="http://kimberleylawrence.com">kimberleylawrence.com</a>
      </span>

    </p>
  </div>
</footer>

<!-- javascript -->
<script src="/assets/js/jquery-3.5.1.slim.min.js"></script>
<script src="/assets/js/boostrap/bootstrap.bundle.min.js"></script>
<!-- END/javascript -->

<!-- END/footer  -->