<section class="jumbotron text-center"  style="background-image:url({{ page.jumbotron_image }});">
   
   
    
  
  
   
</section>



<!--

<section class="text-center">
    <div class="container">
        <img src="/assets/images/girls_beach_3.png" class="logo">
        <h3>{{ page.title }}</h3>

        <div class="btn-group">
            {% for collection in site.posts %}
            <a href="{{ collection.url }}">
                <button type="button" class="btn btn-med btn-outline-secondary">{{ collection.title }}</button>
            </a>
            {% endfor %}
        </div>
    </div>

</section> -->



    <!-- <div class="btn-group"> 
       <a href="/shop">
         <button type="button" class="btn btn-med btn-dark ">Shop Now</button>
       </a>
     </div> -->
     

   <!--<p class="lead text-muted">Secondary lead in quote</p>-->